## Applied Data Science Capstone Assignment 2 :Segmenting and Clustering Neighborhoods in Toronto

In [1]:
# Import necessary libraries

import requests
import lxml.html as lh
import pandas as pd

In [2]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

page = requests.get(url)

#Store the contents of the website
data = lh.fromstring(page.content)

#Store table data
tr_elements = data.xpath('//tr')

In [3]:
col=[]
ind=0

#store each first element and an empty list for each row
for i in tr_elements[0]:
    ind= ind + 1
    name = i.text_content()
    col.append((name,[]))
print(col)

[('Postcode', []), ('Borough', []), ('Neighbourhood\n', [])]

#### Creating Pandas DataFrame

In [4]:
#Since the first row is header, data is stored from the second row
for i in range(1,len(tr_elements)):
    T=tr_elements[i]
    
    #If row is not of size 3, then tr data is not from our table 
    if len(T)!=3:
        break
    #i is the index of our column
    ind=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        temp=t.text_content() 
        #Check if row is empty
        if ind>0:
        #Convert any numerical value to integers
            try:
                temp=int(temp)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[ind][1].append(temp)
        #Increment i for the next column
        ind = ind + 1

In [5]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)
df.head()

  Postcode           Borough     Neighbourhood\n
0      M1A      Not assigned      Not assigned\n
1      M2A      Not assigned      Not assigned\n
2      M3A        North York         Parkwoods\n
3      M4A        North York  Victoria Village\n
4      M5A  Downtown Toronto      Harbourfront\n

#### Rearranging columns

In [6]:
df.columns = ['Postcode','Borough', 'Neighbourhood']
cols = df.columns.tolist()
cols = cols[-1:] + cols[:-1]
df = df[cols]
df.head()

        Neighbourhood Postcode           Borough
0      Not assigned\n      M1A      Not assigned
1      Not assigned\n      M2A      Not assigned
2         Parkwoods\n      M3A        North York
3  Victoria Village\n      M4A        North York
4      Harbourfront\n      M5A  Downtown Toronto

In [7]:
df = df.replace('\n',' ', regex=True)
df.head()

       Neighbourhood Postcode           Borough
0      Not assigned       M1A      Not assigned
1      Not assigned       M2A      Not assigned
2         Parkwoods       M3A        North York
3  Victoria Village       M4A        North York
4      Harbourfront       M5A  Downtown Toronto

#### Dropping cells with a borough that is Not assigned

In [8]:
df.drop(df.index[df['Borough'] == 'Not assigned'], inplace = True)
df = df.reset_index(drop=True)
df.head()

       Neighbourhood Postcode           Borough
0         Parkwoods       M3A        North York
1  Victoria Village       M4A        North York
2      Harbourfront       M5A  Downtown Toronto
3  Lawrence Heights       M6A        North York
4    Lawrence Manor       M6A        North York

#### Combining Neighbourhoods based on similar Postcode and Borough

In [9]:
df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(','.join).reset_index()
df.columns = ['Postcode','Borough','Neighbourhood']
df.head(10)

  Postcode      Borough                                     Neighbourhood
0      M1B  Scarborough                                   Rouge ,Malvern
1      M1C  Scarborough           Highland Creek ,Rouge Hill ,Port Union
2      M1E  Scarborough                Guildwood ,Morningside ,West Hill
3      M1G  Scarborough                                           Woburn
4      M1H  Scarborough                                        Cedarbrae
5      M1J  Scarborough                              Scarborough Village
6      M1K  Scarborough      East Birchmount Park ,Ionview ,Kennedy Park
7      M1L  Scarborough                  Clairlea ,Golden Mile ,Oakridge
8      M1M  Scarborough  Cliffcrest ,Cliffside ,Scarborough Village West
9      M1N  Scarborough                      Birch Cliff ,Cliffside West

In [10]:
df['Neighbourhood'] = df['Neighbourhood'].str.strip()

#### Assigning Borough values to the Neignbourhood where vlaue is "Not assigned"

In [11]:
df.loc[df['Neighbourhood'] == 'Not assigned', 'Neighbourhood'] = df['Borough']

In [12]:
# Check if the Neighbourhood for Queen's Park changed 
df[df['Borough'] == 'Queen\'s Park']

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Queen's Park

In [13]:
df.to_csv(r'df_can.csv')

In [14]:
# Check the shape of the data frame
df.shape

(103, 3)